/* Stylesheet by Trever J. Bruhn 2022*/

.mainTitle {
  text-align: center;
}

/* ======= main containers for layout ======== */
.container {
  display: flex;
  height: 600px;
}

.mapDiv {
  height: 100%;
  width: 55%;
  margin: 0 0 0 10px;
  /* vertical-align: top; */
  /* background-color: blue; */
}

.chartDiv {
  height: 100%;
  flex-grow: 1;
  /* vertical-align: top; */
  /* background-color: green; */
}

/* ======= map frame ======== */
.map {
  border: medium solid #999;
}

.states {
  stroke: rgb(103, 102, 102);
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.gratLines {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.gratBackground {
  fill: #d5e3ff;
}

.legendLabel {
  font-family: sans-serif;
  /* the following add the halo effect */
  paint-order: stroke;
  font-size: 1.05rem;
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 1;
  /*end halo effect */
}

/* ======= chart frame ======== */

.chart {
  float: right;
  margin: 0 10px 0 0;
}

.chartBackground {
  fill: rgba(128, 128, 128, 0.2);
  stroke: #999;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.chartFrame {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.chartTitle {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.barLabels {
  fill: white;
  font-family: sans-serif;
  font-size: 0.4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/*remove the 0 line in chart */
.tick:first-of-type line {
  stroke: none;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.8em;
  fill: rgb(41, 40, 40);
}

/* ======= selection tools ======== */

button {
  display: inline-block;
  vertical-align: middle;
  border: none;

  margin: 0;
  text-decoration: none;
  background: #e8e6e6;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  color: #4c3c56;
  font-family: sans-serif;
  font-size: 0.95rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* button:hover {
  background: #80808065;
} */

button:active {
  transform: scale(0.9);
}

button.pop {
  margin-left: 1%;
  background: #deebf7;
}

.infoLabel {
  position: absolute;
  height: auto;
  min-width: 100px;
  color: #fff;
  background-color: rgb(104, 104, 104);
  border: solid thin #fff;
  border-radius: 1em;
  padding: 5px 10px;
  top: -100px; /*moves the label off the page*/
}

.infoLabel h1 {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
}
